<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
<title> Escanza, LLC - About Us </title>
{% endblock %}

{% block morestyles %}
{% endblock %}

{% block body %}	
		
	<!--main-->
	<div class="main" role="main">		
		<div class="wrap clearfix">
			<!--main content-->
			<div class="content clearfix">
				<!--breadcrumbs-->
				<nav role="navigation" class="breadcrumbs clearfix">
					<!--crumbs-->
					<ul class="crumbs">
						<li><a href="/" title="Home">Home</a></li> 
						<li>About Us</li>                                       
					</ul>
					<!--//crumbs-->
				</nav>
				<!--//breadcrumbs-->
				
				<h2> About Us </h2>

				<p> With a growing travel and tourism industry, online travel agencies have seen remarkable growth. Yet, they replaced travel agents with the end-user being his own agent. That proved to be hard and time-consuming for many. Cheaper flights and accommodations didn’t prove to be better vacation experience for many. Therefore, Escanza was established in late 2016 to help our dear travelers with their travel plans and ensure they have the best experiences.</p>

				<p> It all starts with accommodation planning. The traveler’s comfort and convenience in his accommodation reflects on the experience of the trip. Escanza provides hotel and accommodations search based on your interests including: Romance, Sports, Winter Activities, Family Vacation, Nightlife, Sun and Beach, and Adventure. Furthermore, for clients who don’t have a destination in mind, Escanza provides a Surprise-Me feature which provides destinations and lodging lists tailored to your travel interests. Yes, Escanza wants to be your new travel agent.</p>

				<p>Escanza also amuses its website visitors by its interesting timely blog posts tailored to groups of travelers with different interests. We hope these posts will help and guide our dear travelers to their next dream destinations that satisfy their interests.</p>

				<p>We aim to be an independent and innovative business, providing services that will satisfy customers worldwide and offer them the best value and experience. </p>

				<h2> Mission </h2>

				<p> <strong> Our broad mission is to help every traveler on this planet achieve more during his travels and have the best experiences. </strong></p>

				<p>
					We know that a good star rating and a cheap hotel price does not translate directly to a great traveling experience! Therefore, we created this hotel search engine which strives to inspire people, whatever their budgets are, to explore the world by orienting their accommodation’s booking to their interests so they can enjoy the world’s best places to stay.
				</p>

				<h2>Our Values</h2>

				<p>
				Our values are our identity; they define us and define the way we work together, and will evolve to the peak as long as we serve you.  We seek diversity at all levels; in thinking, approaches, backgrounds, and in the way we generate new ideas.
				</p>

				<ul style="list-style-type:circle">
					<li>
						<h6>Excellence</h6>						
					</li>
					<p>
							We are strongly committed to innovation, inspiration, and improvements.
					</p>
					<li>
						<h6>Responsibility</h6>						
					</li>
					<p>
							We are committed to act friendly to our environment and to human beings by fulfilling their needs.
					</p>
					<li>
						<h6>Loyalty</h6>						
					</li>
					<p>
							We are collaborative, trustworthy and reliable in all our relationships; with our employees, partners, and customers.
					</p>
					<li>
						<h6>Transperency</h6>						
					</li>
					<p>
							We are committed to integrity at all times and we communicate honestly at all levels. 
					</p>
				</ul>



			</div>
			<!--//main content-->
		</div>
	</div>
	<!--//main-->

{% endblock %}
	
{% block tailscripts %} 	
	<script>selectnav('nav'); </script>
{% endblock %}