<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
<title> Online Travel Agency - Hotels</title>
{% endblock %}

{% block body %}    
	
	<!--main-->
	<div class="main" role="main">		
		<div class="wrap clearfix">
			<!--main content-->
			<div class="content clearfix">
				<!--breadcrumbs-->
				<nav role="navigation" class="breadcrumbs clearfix">
					<!--crumbs-->
					<ul class="crumbs">
						<li><a href="#" title="Home">Home</a></li> 
						<li>Get inspired</li>                                       
					</ul>
					<!--//crumbs-->
				</nav>
				<!--//breadcrumbs-->

				<!--three-fourth content-->
				<section class="three-fourth">
					<h1>What do you like?</h1>
					<!--get inspired list-->
					<ul class="get_inspired">
						<!--item-->
						<li>
							<a href="get_inspired _results.html">
								<figure>
									<img src="{{STATIC_URL}}images/uploads/img.jpg" alt="" width="154" height="87" />
									<figcaption>Last minute</figcaption>
								</figure>
							</a>
						</li>
						<!--//item-->
						
						<!--item-->
						<li>
							<a href="get_inspired _results.html">
								<figure>
									<img src="{{STATIC_URL}}images/uploads/img.jpg" alt="" width="154" height="87" />
									<figcaption>All Inclusive</figcaption>
								</figure>
							</a>
						</li>
						<!--//item-->
						
						<!--item-->
						<li>
							<a href="get_inspired _results.html">
								<figure>
									<img src="{{STATIC_URL}}images/uploads/img.jpg" alt="" width="154" height="87" />
									<figcaption>Family Fun</figcaption>
								</figure>
							</a>
						</li>
						<!--//item-->
						
						<!--item-->
						<li>
							<a href="get_inspired _results.html">
								<figure>
									<img src="{{STATIC_URL}}images/uploads/img.jpg" alt="" width="154" height="87" />
									<figcaption>Adventure</figcaption>
								</figure>
							</a>
						</li>
						<!--//item-->
						
						<!--item-->
						<li>
							<a href="get_inspired _results.html">
								<figure>
									<img src="{{STATIC_URL}}images/uploads/img.jpg" alt="" width="154" height="87" />
									<figcaption>Beach &amp; Sun</figcaption>
								</figure>
							</a>
						</li>
						<!--//item-->
						
						<!--item-->
						<li>
							<a href="get_inspired _results.html">
								<figure>
									<img src="{{STATIC_URL}}images/uploads/img.jpg" alt="" width="154" height="87" />
									<figcaption>Casinos</figcaption>
								</figure>
							</a>
						</li>
						<!--//item-->
						
						<!--item-->
						<li>
							<a href="get_inspired _results.html">
								<figure>
									<img src="{{STATIC_URL}}images/uploads/img.jpg" alt="" width="154" height="87" />
									<figcaption>History &amp; Culture</figcaption>
								</figure>
							</a>
						</li>
						<!--//item-->
						
						<!--item-->
						<li>
							<a href="get_inspired _results.html">
								<figure>
									<img src="{{STATIC_URL}}images/uploads/img.jpg" alt="" width="154" height="87" />
									<figcaption>Clubbing</figcaption>
								</figure>
							</a>
						</li>
						<!--//item-->
						
						<!--item-->
						<li>
							<a href="get_inspired _results.html">
								<figure>
									<img src="{{STATIC_URL}}images/uploads/img.jpg" alt="" width="154" height="87" />
									<figcaption>Romance</figcaption>
								</figure>
							</a>
						</li>
						<!--//item-->
						
						<!--item-->
						<li>
							<a href="get_inspired _results.html">
								<figure>
									<img src="{{STATIC_URL}}images/uploads/img.jpg" alt="" width="154" height="87" />
									<figcaption>Shopping</figcaption>
								</figure>
							</a>
						</li>
						<!--//item-->
						
						<!--item-->
						<li>
							<a href="get_inspired _results.html">
								<figure>
									<img src="{{STATIC_URL}}images/uploads/img.jpg" alt="" width="154" height="87" />
									<figcaption>Skiing</figcaption>
								</figure>
							</a>
						</li>
						<!--//item-->
						
						<!--item-->
						<li>
							<a href="get_inspired _results.html">
								<figure>
									<img src="{{STATIC_URL}}images/uploads/img.jpg" alt="" width="154" height="87" />
									<figcaption>Wellness</figcaption>
								</figure>
							</a>
						</li>
						<!--//item-->
						
						<!--item-->
						<li>
							<a href="get_inspired _results.html">
								<figure>
									<img src="{{STATIC_URL}}images/uploads/img.jpg" alt="" width="154" height="87" />
									<figcaption>Cruise</figcaption>
								</figure>
							</a>
						</li>
						<!--//item-->
						
						<!--item-->
						<li>
							<a href="get_inspired _results.html">
								<figure>
									<img src="{{STATIC_URL}}images/uploads/img.jpg" alt="" width="154" height="87" />
									<figcaption>City Breaks</figcaption>
								</figure>
							</a>
						</li>
						<!--//item-->
						
						<!--item-->
						<li>
							<a href="get_inspired _results.html">
								<figure>
									<img src="{{STATIC_URL}}images/uploads/img.jpg" alt="" width="154" height="87" />
									<figcaption>Deals of the Week</figcaption>
								</figure>
							</a>
						</li>
						<!--//item-->
					</ul>
					<!--//get inspired list-->
					
					<!--top destinations-->
					<section class="destinations clearfix">
						<h1>Our Top destinations</h1>
						
						<!--column-->
						<article class="one-fourth">
							<figure><a href="location.html" title=""><img src="{{STATIC_URL}}images/uploads/img.jpg" alt="" width="270" height="152" /></a></figure>
							<div class="details">
								<a href="location.html" title="View all" class="gradient-button">View all</a>
								<h5>Paris</h5>
								<span class="count">1529 Hotels</span>
								<div class="ribbon">
									<div class="half hotel">
										<a href="hotels.html" title="View all">
											<span class="small">from</span>
											<span class="price">&#36; 70</span>
										</a>
									</div>
									<div class="half flight">
										<a href="flights.html" title="View all">
											<span class="small">from</span>
											<span class="price">&#36; 150</span>
										</a>
									</div>
								</div>
							</div>
						</article>
						<!--//column-->
						
						<!--column-->
						<article class="one-fourth">
							<figure><a href="location.html" title=""><img src="{{STATIC_URL}}images/uploads/img.jpg" alt="" width="270" height="152" /></a></figure>
							<div class="details">
								<a href="location.html" title="View all" class="gradient-button">View all</a>
								<h5>Amsterdam</h5>
								<span class="count">929 Hotels</span>
								<div class="ribbon">
									<div class="half hotel">
										<a href="hotels.html" title="View all">
											<span class="small">from</span>
											<span class="price">&#36; 70</span>
										</a>
									</div>
									<div class="half flight">
										<a href="flights.html" title="View all">
											<span class="small">from</span>
											<span class="price">&#36; 150</span>
										</a>
									</div>
								</div>
							</div>
						</article>
						<!--//column-->
						
						<!--column-->
						<article class="one-fourth last">
							<figure><a href="location.html" title=""><img src="{{STATIC_URL}}images/uploads/img.jpg" alt="" width="270" height="152" /></a></figure>
							<div class="details">
								<a href="location.html" title="View all" class="gradient-button">View all</a>
								<h5>Saint Petersburg</h5>
								<span class="count">658 Hotels</span>
								<div class="ribbon">
									<div class="half hotel">
										<a href="hotels.html" title="View all">
											<span class="small">from</span>
											<span class="price">&#36; 70</span>
										</a>
									</div>
									<div class="half flight">
										<a href="flights.html" title="View all">
											<span class="small">from</span>
											<span class="price">&#36; 150</span>
										</a>
									</div>
								</div>
							</div>
						</article>
						<!--//column-->
						
						<!--column-->
						<article class="one-fourth">
							<figure><a href="location.html" title=""><img src="{{STATIC_URL}}images/uploads/img.jpg" alt="" width="270" height="152" /></a></figure>
							<div class="details">
								<a href="location.html" title="View all" class="gradient-button">View all</a>
								<h5>Amsterdam</h5>
								<span class="count">929 Hotels</span>
								<div class="ribbon">
									<div class="half hotel">
										<a href="hotels.html" title="View all">
											<span class="small">from</span>
											<span class="price">&#36; 70</span>
										</a>
									</div>
									<div class="half flight">
										<a href="flights.html" title="View all">
											<span class="small">from</span>
											<span class="price">&#36; 150</span>
										</a>
									</div>
								</div>
							</div>
						</article>
						<!--//column-->
						
						<!--column-->
						<article class="one-fourth">
							<figure><a href="location.html" title=""><img src="{{STATIC_URL}}images/uploads/img.jpg" alt="" width="270" height="152" /></a></figure>
							<div class="details">
								<a href="location.html" title="View all" class="gradient-button">View all</a>
								<h5>Prague</h5>
								<span class="count">829 Hotels</span>
								<div class="ribbon">
									<div class="half hotel">
										<a href="hotels.html" title="View all">
											<span class="small">from</span>
											<span class="price">&#36; 70</span>
										</a>
									</div>
									<div class="half flight">
										<a href="flights.html" title="View all">
											<span class="small">from</span>
											<span class="price">&#36; 150</span>
										</a>
									</div>
								</div>
							</div>
						</article>
						<!--//column-->
						
						<!--column-->
						<article class="one-fourth last">
							<figure><a href="location.html" title=""><img src="{{STATIC_URL}}images/uploads/img.jpg" alt="" width="270" height="152" /></a></figure>
							<div class="details">
								<a href="location.html" title="View all" class="gradient-button">View all</a>
								<h5>Paris</h5>
								<span class="count">1529 Hotels</span>
								<div class="ribbon">
									<div class="half hotel">
										<a href="hotels.html" title="View all">
											<span class="small">from</span>
											<span class="price">&#36; 70</span>
										</a>
									</div>
									<div class="half flight">
										<a href="flights.html" title="View all">
											<span class="small">from</span>
											<span class="price">&#36; 150</span>
										</a>
									</div>
								</div>
							</div>
						</article>
						<!--//column-->
					</section>
					<!--//top destinations-->
				</section>	
				<!--three-fourth content-->
				
				<!--sidebar-->
				<aside class="right-sidebar">
					<!--Deal of the day-->
					<article class="default clearfix">
						<h2>Deal of the day</h2>
						<div class="deal-of-the-day">
							<a href="hotel.html">
								<figure><img src="{{STATIC_URL}}images/slider/img.jpg" alt="" width="230" height="130" /></figure>
								<h3>Plaza Resort Hotel &amp; SPA
									<span class="stars">
										<img src="{{STATIC_URL}}images/ico/star.png" alt="" />
										<img src="{{STATIC_URL}}images/ico/star.png" alt="" />
										<img src="{{STATIC_URL}}images/ico/star.png" alt="" />
										<img src="{{STATIC_URL}}images/ico/star.png" alt="" />
									</span>
								</h3>
								<p>From <span class="price">$ 100 <small>/ per night</small></span></p>
								<span class="rating"> 8 /10</span>
							</a>
						</div>
					</article>
					<!--//Deal of the day-->
					
					<!--Need Help Booking?-->
					<article class="default clearfix">
						<h2>Need Help Booking?</h2>
						<p>Call our customer services team on the number below to speak to one of our advisors who will help you with all of your holiday needs.</p>
						<p class="number">1- 555 - 555 - 555</p>
					</article>
					<!--//Need Help Booking?-->
					
					<!--Why Book with us?-->
					<article class="default clearfix">
						<h2>Why Book with us?</h2>
						<h3>Low rates</h3>
						<p>Get the best rates, or get a refund.<br />No booking fees. Save money!</p>
						<h3>Largest Selection</h3>
						<p>140,000+ hotels worldwide<br />130+ airlines<br />Over 3 million guest reviews</p>
						<h3>We’re Always Here</h3>
						<p>Call or email us, anytime<br />Get 24-hour support before, during, and after your trip</p>
					</article>
					<!--//Why Book with us?-->
				</aside>
				<!--//sidebar-->
			</div>
			<!--//main content-->
		</div>
	</div>
	<!--//main-->
	
{% endblock %}

{% block tailscripts %} 
	<script>selectnav('nav'); </script>
{% endblock %}	
	
</body>
</html>