<!DOCTYPE html>
<!--[if IE 7 ]>    <html class="ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 	 ]>    <html class="ie" lang="en"> <![endif]-->
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	{% block title %} {% endblock %}
	<link rel="stylesheet" href="{{STATIC_URL}}css/style.css" type="text/css" media="screen,projection,print" />
	<link rel="stylesheet" href="{{STATIC_URL}}css/prettyPhoto.css" type="text/css" media="screen" />	
	<link rel="stylesheet" href="{{STATIC_URL}}css/theme-blue.css" id="template-color" />	
	<link rel="shortcut icon" href="{{STATIC_URL}}images/favicon.ico" type="image/x-icon"/>

    {% block morestyles %} {% endblock %}

</head>

<body>
	<!--header-->
	<header>
		<div class="wrap clearfix">
			<!--logo-->
			<h1 class="logo"><a href="/" title="Escanza Travels - Home Page"><img src="{{STATIC_URL}}images/themes/blue/txt/logo_escanza.png" alt="Escanza" /></a></h1>
			<!--//logo-->
				
			<!--ribbon-->
			
			<!--<div class="ribbon">
				<nav>
					<ul class="profile-nav">
						<li class="active"><a href="#" title="My Account">My Account</a></li>
						<li><a href="login.html" title="Login">Login</a></li>
						<li><a href="my_account.html" title="Settings">Settings</a></li>
					</ul>
					<ul class="lang-nav">
						<li class="active"><a href="#" title="English (US)">English (US)</a></li>
						<li><a href="#" title="English (UK)">English (UK)</a></li>
						<li><a href="#" title="Deutsch">Deutsch</a></li>
						<li><a href="#" title="Italiano">Italiano</a></li>
						<li><a href="#" title="???????">???????</a></li>
					</ul> 
					<ul class="currency-nav">
						<li class="active"><a href="#" title="$US Dollar">$US Dollar</a></li>
						<li><a href="#" title=" Euro"> Euro</a></li>
						<li><a href="#" title=" Pound"> Pound</a></li>
					</ul>
				</nav>
			</div> -->
			<!--//ribbon-->						
			
		</div>
		
		<!--main navigation-->
		<nav class="main-nav" role="navigation">
			<ul class="wrap" id="nav">
				<li><a href="/" title="Home">Home</a></li>				
				<li><a href="/topinterests/" title="Top Interest Destinations">Top Interest Destinations</a></li>				
				<li><a href="/blog/" title="Blog">Blog</a></li>	
				<li><a href="/contact/" title="Contact Us">Contact Us</a></li>				
			</ul>
		</nav>
		<!--//main navigation-->
	</header>
	<!--//header-->
	
	{% block body %} {% endblock %}
	
	<!--footer-->
	<footer>
		<div class="wrap clearfix">
			<!--column-->
			<article class="one-fourth">
				<h3>Escanza</h3>
				<p>17756 NE 90th St. Redmond, WA</p>
				<!-- <p><em>P:</em> 24/7 customer support: 1-555-555-5555</p> -->
				<p><em>E:</em> <a href="mailto:info@escanza.com" title="info@escanza.com">info@escanza.com</a></p>
			</article>
			<!--//column-->
			
			<!--column-->
			<article class="one-fourth">
				<!-- <h3>Customer support</h3>
				<ul>
					<li><a href="#" title="Faq">Faq</a></li>
					<li><a href="#" title="How do I make a reservation?">How do I make a reservation?</a></li>
					<li><a href="#" title="Payment options">Payment options</a></li>
					<li><a href="#" title="Booking tips">Booking tips</a></li>
				</ul> -->
			</article>
			<!--//column-->
			
			<!--column-->
			<article class="one-fourth">
				<h3>Follow us</h3>
				<ul class="social">
					<li class="facebook"><a href="https://www.facebook.com/escanza/" title="facebook">facebook</a></li>
					<li class="youtube"><a href="#" title="youtube">youtube</a></li>
					<!-- <li class="rss"><a href="#" title="rss">rss</a></li>
					<li class="linkedin"><a href="#" title="linkedin">linkedin</a></li>
					<li class="googleplus"><a href="#" title="googleplus">googleplus</a></li> -->
					<li class="twitter"><a href="#" title="twitter">twitter</a></li>
					<!-- <li class="vimeo"><a href="#" title="vimeo">vimeo</a></li> 
					<li class="pinterest"><a href="#" title="pinterest">pinterest</a></li> -->
				</ul>
			</article>
			<!--//column-->
			
			<!--column-->
			<!-- <article class="one-fourth last">
				<h3>Don't miss our exclusive offers</h3>
				<form id="newsletter" action="newsletter.php" method="post">
					<fieldset>
						<input type="email" id="newsletter_signup" name="newsletter_signup" placeholder="Enter your email here" />
						<input type="submit" id="newsletter_submit" name="newsletter_submit" value="Signup" class="gradient-button" />
					</fieldset>
				</form>
			</article> -->
			<!--//column-->
			
			<section class="bottom">
				<p class="copy">Copyright 2016 Escanza, LLC. All rights reserved</p>
				<nav>
					<ul>
						<li><a href="/aboutUs/" title="About us">About us</a></li>
						<li><a href="/contact/" title="Contact">Contact</a></li>
						<!-- <li><a href="#" title="Partners">Partners</a></li>
						<li><a href="#" title="Customer service">Customer service</a></li>
						<li><a href="#" title="FAQ">FAQ</a></li>
						<li><a href="#" title="Careers">Careers</a></li>
						<li><a href="#" title="Terms & Conditions">Terms &amp; Conditions</a></li> -->
						<li><a href="/privacyPolicy/" title="Privacy Policy">Privacy Policy</a></li>
					</ul>
				</nav>
			</section>
		</div>
	</footer>
	<!--//footer-->
	
	<!-- javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->	

	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="{{STATIC_URL}}js/jquery-ui.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/modernizr.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/sequence.jquery-min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.uniform.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.prettyPhoto.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/sequence.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/selectnav.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.raty.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/scripts.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.cookie.js"></script>

	<!-- for adding more specific scripts -->
	{% block tailscripts %} {% endblock %}

</body>
</html>
