<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
<title> Online Travel Agency - Empty Form </title>
{% endblock %}

{% block morestyles %}
{% endblock %}

{% block body %}	
		
	<!--main-->
	<div class="main" role="main">		
		<div class="wrap clearfix">
			<!--main content-->
			<div class="content clearfix">
				<!--breadcrumbs-->
				<nav role="navigation" class="breadcrumbs clearfix">
					<!--crumbs-->
					<ul class="crumbs">
						<li><a href="#" title="Home">Home</a></li> 
						<li>Empty Form</li>                                       
					</ul>
					<!--//crumbs-->
				</nav>
				<!--//breadcrumbs-->
				
				
			</div>
			<!--//main content-->
		</div>
	</div>
	<!--//main-->

{% endblock %}
	
{% block tailscripts %} 	
	<script>selectnav('nav'); </script>
{% endblock %}