{% extends "base.html" %}

{% block title %}
<title> escanza.com: discover new places to do what you enjoy </title>
{% endblock %}

{% block morestyles %}
{% endblock %}


{% block body %}
	<!--slider-->
	<section class="slider clearfix">
		<div id="sequence">
			<ul class="sequence-canvas">
				<li>
					<div class="info animate-in">
						<h2>Planning a honeymoon, company retreat or family adventure?</h2><br />
						<p>Find the perfect accommodations, based on what you enjoy.</p>
					</div>
					<img class="main-image animate-in" src="{{STATIC_URL}}images/slider/oia-416135.jpg" alt="" />
				</li>
				<li>
					<div class="info animate-in">
						<h2>Find new places to do what you love</h2><br />
						<p>Without hours of scanning through travel sites.</p>
					</div>
					<img class="main-image animate-in" src="{{STATIC_URL}}images/slider/adventure-1846096.jpg" alt="" />
				</li>				
				<li>
					<div class="info animate-in">
						<h2>Do what you like,</h2><br />
						<p>In dream destinations you’ll love!</p>
					</div>
					<img class="main-image animate-in" src="{{STATIC_URL}}images/slider/mountain-690104.jpg" alt="" />
				</li>				
				<li>
					<div class="info animate-in">
						<h2>Not sure where you want to go?</h2><br />
						<p>Click Surprise Me to discover new destinations.</p>
					</div>
					<img class="main-image animate-in" src="{{STATIC_URL}}images/slider/family-591579.jpg" alt="" />
				</li>
				<li>
					<div class="info animate-in">
						<h2>Discover hotels and resorts</h2><br />
						<p>That feel like they were made for you</p>
					</div>
					<img class="main-image animate-in" src="{{STATIC_URL}}images/slider/kuala-lumpur-1820944.jpg" alt="" />
				</li>				
			</ul>
		</div>
	</section>
	<!--//slider-->
	
	<!--search-->
	<div class="main-search">
		<form id="main-search" method="GET" action="/hotels/search/"> 

			<!--column-->
			<div class="column radios">
				<h4><span>01</span> Interests? </h4>				
				<div class="f-item">
					<!-- <input type="checkbox" name="radio" id="healthAndWellness" value="form1" /> -->
					{{ hotelSearchForm.wellness }}
					<label for="{{hotelSearchForm.wellness.id_for_label}}">Wellness</label>
				</div>
				<div class="f-item">
					{{ hotelSearchForm.shopping }}
					<label for="{{hotelSearchForm.shopping.id_for_label}}">Shopping</label>
				</div>
				<div class="f-item">
					{{ hotelSearchForm.romance }}
					<label for="{{hotelSearchForm.romance.id_for_label}}">Romance</label>
				</div>
				<div class="f-item">
					{{ hotelSearchForm.nightlife }}
					<label for="{{hotelSearchForm.nightlife.id_for_label}}">Night Life</label>
				</div>
				<div class="f-item">
					{{ hotelSearchForm.casinos }}
					<label for="{{hotelSearchForm.casinos.id_for_label}}">Casinos</label>
				</div>
				<div class="f-item">
					{{ hotelSearchForm.adventure }}
					<label for="{{hotelSearchForm.adventure.id_for_label}}">Adventure</label>
				</div>
				<div class="f-item">
					{{ hotelSearchForm.beachAndSun }}
					<label for="{{hotelSearchForm.beachAndSun.id_for_label}}">Beach &amp; Sun</label>
				</div>
				<div class="f-item">
					{{ hotelSearchForm.family }}
					<label for="{{hotelSearchForm.family.id_for_label}}">Family</label>
				</div>
				<div class="f-item">
					{{ hotelSearchForm.skiing }}
					<label for="{{hotelSearchForm.skiing.id_for_label}}">Skiing</label>
				</div>
				<div class="f-item">
					{{ hotelSearchForm.historyAndCulture }}
					<label for="{{hotelSearchForm.historyAndCulture.id_for_label}}">History &amp; Culture</label>
				</div>	
				{% if interestsErrors %}
					<div class="alert alert-danger err">									
						<ul>
							{% for error in interestsErrors %}
								<li>{{ error }}</li>
							{% endfor %}
						</ul>
					</div>  
				{% endif %}					
			</div>
			<!--//column-->
			
			<div class="forms">
				<!--form hotel-->
				<div class="form" id="form1">
					<!--column-->
					<div class="column">
						<h4><span>02</span> Where?</h4>
						<div class="f-item">
							<label for="{{hotelSearchForm.destination.id_for_label}}">Your destination</label>
							<!-- <input type="text" placeholder="Continent, Country, or City" id="destination1" name="destination" /> -->
							{{ hotelSearchForm.destination }}
							<div id="destination-details">
								{{ hotelSearchForm.locality }}
						        {{ hotelSearchForm.country_short }}
						        {{ hotelSearchForm.administrative_area_level_1 }}
						       <span name="administrative_area_level_2"></span>
						       <span name="administrative_area_level_3"></span>
							</div>
							{% if destErrors %}
								<div class="alert alert-danger err">									
									<ul>
										{% for error in destErrors %}
											<li>{{ error }}</li>
										{% endfor %}
									</ul>
								</div>  
							{% endif %}								
						</div>
						<div class="column radios">
							<div class="f-item">
								{{ hotelSearchForm.surpriseme }}
								<label for="{{hotelSearchForm.surpriseme.id_for_label}}">Surprise Me!!</label>
							</div>
						</div>
					</div>
					<!--//column-->
					
					<!--column-->
					<div class="column twins">
						<h4><span>03</span> When?</h4>
						{% if dateErrors %}
						<div class="alert alert-danger err">									
							<ul>
								{% for error in dateErrors %}
									<li>{{ error }}</li>
								{% endfor %}									
							</ul>
						</div>
						{% endif %}
						<div class="f-item datepicker">							
							<label for="datepicker1">Check-in date</label>	
							{% if hotelSearchForm.errors %}
							<div class="alert alert-danger err">									
								<ul>
									{% for error in hotelSearchForm.checkInDate.errors %}
										<li>{{ error }}</li>
									{% endfor %}									
								</ul>
							</div>  
							{% endif %}							
							<div class="datepicker-wrap">
								{{ hotelSearchForm.checkInDate }}
								<!-- <input type="text" placeholder="" id="datepicker1" name="datepicker1" /> -->
							</div> 
						</div>
						<div class="f-item datepicker">
							<label for="datepicker2">Check-out date</label>
							{% if hotelSearchForm.errors %}
							<div class="alert alert-danger err">									
								<ul>
									{% for error in hotelSearchForm.checkOutDate.errors %}
										<li>{{ error }}</li>
									{% endfor %}									
								</ul>
							</div>  
							{% endif %}
							<div class="datepicker-wrap">
								{{ hotelSearchForm.checkOutDate }}
								<!-- <input type="text" placeholder="" id="datepicker2" name="datepicker2" /> -->
							</div>
						</div>
					</div>
					<!--//column-->
				
					<!--column-->
					<div class="column triplets">
						<h4><span>04</span> Who?</h4>
						<div class="f-item spinner">
							<label for="spinner1">Rooms</label>
							{{ hotelSearchForm.rooms }}
							<!-- <input type="text" placeholder="" id="spinner1" name="spinner1" /> -->
						</div>
						<div class="f-item spinner">
							<label for="spinner2">Adults</label>
							{{ hotelSearchForm.adults }}
							<!-- <input type="text" placeholder="" id="spinner2" name="spinner1" /> -->
						</div>
						<div class="f-item spinner">
							<label for="spinner3">Children</label>
							{{ hotelSearchForm.children }}
							<!-- <input type="text" placeholder="" id="spinner3" name="spinner1" /> -->
						</div>
					</div>
					<!--//column-->
				</div>	
				<!--//form hotel-->
								
				
			</div>
			<input type="submit" value="Search" class="search-submit" id="search-submit" />
		</form>
	</div>
	<!--//search-->
	
	<!--main-->
	<div class="main" role="main">
		<div class="wrap clearfix">
			<!--top travel interest destinations-->
			<section class="frontpageoffers offers clearfix full">
				</br>				
				<h1>Need Inspiration? Discover Our Top Locations by Interest</h1>
				
				{% for topInterest in topInterestsLocations %} 
					<!--column-->
					 {% if forloop.counter|divisibleby:"4" %}
					 <article class="one-fourth last">
					 {% else %}
					 <article class="one-fourth">
					 {% endif %}
					    {% if topInterest.img  %}
						<figure><a href="/hotels/search/{{topInterest.querystring}}&checkInDate={{checkInDate}}&checkOutDate={{checkOutDate}}" title=""><img src="{{MEDIA_URL}}{{topInterest.img}}" alt="{{STATIC_URL}}images/uploads/img.jpg" width="270" height="152" /></a></figure>
						{% else %}
						<figure><a href="/hotels/search/{{topInterest.querystring}}&checkInDate={{checkInDate}}&checkOutDate={{checkOutDate}}" title=""><img src="{{STATIC_URL}}images/uploads/img.jpg" alt="{{STATIC_URL}}images/uploads/img.jpg" width="270" height="152" /></a></figure>
						{% endif %}
						<div class="frontPageInterests">
							<h4>{{topInterest.short_desc}}</h4>
							<h5><a href="/topinterests/?id={{topInterest.id}}">Learn More</a></h5> <br>							
							<a href="/hotels/search/{{topInterest.querystring}}&checkInDate={{checkInDate}}&checkOutDate={{checkOutDate}}" title="Explore our deals" class="gradient-button">Check Top Hotels</a>
						</div>
					 </article>
					 <!--//column-->
				{% endfor %}
			</section>
			<!--//top travel interest destinations-->	

			<!-- -->
			<section id="specialDealsSection" class="dealoffers boxes clearfix full">
				<h1>Special Deals and Offers</h1>

				{% for deal in specialDeals %}

					{% if forloop.counter|divisibleby:"3" %}
					<article class="one-third last">
					{% else %}
					<article class="one-third">
					{% endif %}				
						<h2>{{deal.getHeader}}</h2>
						<p>{{deal.getSubheader}}</p>
						{{deal.getInsScript | safe}}
					</article>	
				{% endfor %}			

			</section>			
						
			<!--info boxes-->
			<section class="boxes clearfix">
				<!--column-->
				<article class="one-fourth">
					<h2>You Know What You Love</h2>
					<p>Why not find destinations and hotels based on what you love to do? You can with Escanza, the best interest-based hotel search.</p>
				</article>
				<!--//column-->
				
				<!--column-->
				<article class="one-fourth">
					<h2>What Is Your Ideal Getaway?</h2>
					<p>Whether it’s wandering through the wilderness, meandering through museums or being pampered by the pool, Escanza will help you discover new places to do what you enjoy.</p>
				</article>
				<!--//column-->
				
				<!--column-->
				<article class="one-fourth">
					<h2>Not Sure Where to Go?</h2>
					<p>Just tell us what you enjoy and click Surprise Me!! We’ll pick the perfect destination for you and show you the top hotels there. We’re like a virtual travel agent, 24/7!</p>
				</article>
				<!--//column-->
				
				<!--column-->
				<article class="one-fourth last">
					<h2>One Search, 750,000+ Hotels</h2>
					<p>Courtesy of our partnership with <a target="_blank" href="http://www.booking.com?aid=912463">Booking.com</a>, you have lots of choices. Save time by searching based on your interests, then book your hotel using Booking.com’s trusted reservation system.</p>
				</article>
				<!--//column-->


				
				<!--column-->
				<!-- <article class="one-fourth">
					<h2>Best Price Guarantee</h2>
					<p>We offer the best hotels at the best prices. If you find the same room category on the same dates cheaper elsewhere, we will refund the difference. Guaranteed, and quickly. </p>
				</article> -->
				<!--//column-->
				
				<!--column-->
				<!-- <article class="one-fourth">
					<h2>Secure Booking</h2>
					<p>Book Your Travel reservation system is secure and your credit card and personal information is encrypted.<br />We work to high standards and guarantee your privacy. </p>
				</article> -->
				<!--//column-->
				
				<!--column-->
				<!-- <article class="one-fourth">
					<h2>Benefits for Hoteliers</h2>
					<p>We provide a cost-effective model, a network of over 5000 partners and a personalised account management service to help you optimise your revenue.</p>
				</article> -->
				<!--//column-->
				
				<!--column-->
				<!-- <article class="one-fourth last">
					<h2>Any Questions?</h2>
					<p>Call us on <em>1-555-555-555</em> for individual, tailored advice for your perfect stay or <a href="contact.html" title="Contact">send us a message</a> with your hotel booking query.<br /><br /></p>
				</article> -->
				<!--//column-->
			</section>
			<!--//info boxes-->
		</div>
	</div>
	<!--//main-->
{% endblock %}

{% block tailscripts %}	
	<script type="text/javascript">	
		$(document).ready(function(){
			$(".form").hide();
			$(".form:first").show();
			$(".f-item:first").addClass("active");
			//$(".f-item:first span").addClass("checked");
		});
	</script>
	<script>selectnav('nav'); </script>
	<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBAJ--ovcB1FbCnkKjLlmp1luePheKiAa8&libraries=places"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.geocomplete.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/main.js"></script>	
{% endblock %}