<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
<title> Escanza Home Page </title>
{% endblock %}

{% block morestyles %}
{% endblock %}


{% block body %}
	<!--slider-->
	<section class="slider clearfix">
		<div id="sequence">
			<ul class="sequence-canvas">
				<li>
					<div class="info animate-in">
						<h2>Last minute Winter escapes</h2><br />
						<p>A unique opportunity to realize your dreams</p>
					</div>
					<img class="main-image animate-in" src="{{STATIC_URL}}images/slider/whistler-ski-resort.jpg" alt="" />
				</li>
				<li>
					<div class="info animate-in">
						<h2>Beach Locations all over the world.</h2><br />
						<p>Hotels and Resorts made specifically for you.</p>
					</div>
					<img class="main-image animate-in" src="{{STATIC_URL}}images/slider/hawaii-beach.jpg" alt="" />
				</li>
				<li>
					<div class="info animate-in">
						<h2>Swim during the winter in the warm springs!</h2><br />
						<p>How about North Port, Florida?</p>
					</div>
					<img class="main-image animate-in" src="{{STATIC_URL}}images/slider/warm-springs-oregon.jpg" alt="" />
				</li>
				<li>
					<div class="info animate-in">
						<h2>Visit a national forest!</h2><br />
						<p>Stunning Views away from city distractions</p>
					</div>
					<img class="main-image animate-in" src="{{STATIC_URL}}images/slider/Mount-baker-snoqualmie-national-forest.jpg" alt="" />
				</li>
				<li>
					<div class="info animate-in">
						<h2>Attempt a rain forest adventure!</h2><br />
						<p>Enjoy the evergreen forests.</p>
					</div>
					<img class="main-image animate-in" src="{{STATIC_URL}}images/slider/capilano-suspension-bridge.jpg" alt="" />
				</li>
				<li>
					<div class="info animate-in">
						<h2>Romantic trips to Greece!</h2><br />
						<p>The ideal honeymoon.</p>
					</div>
					<img class="main-image animate-in" src="{{STATIC_URL}}images/slider/greece-romance.jpg" alt="" />
				</li>
			</ul>
		</div>
	</section>
	<!--//slider-->
	
	<!--search-->
	<div class="main-search">
		<form id="main-search" method="GET" action="/hotels/search/"> 

			<!--column-->
			<div class="column radios">
				<h4><span>01</span> Interests? </h4>				
				<div class="f-item">
					<!-- <input type="checkbox" name="radio" id="healthAndWellness" value="form1" /> -->
					{{ hotelSearchForm.wellness }}
					<label for="{{hotelSearchForm.wellness.id_for_label}}">Wellness</label>
				</div>
				<div class="f-item">
					{{ hotelSearchForm.shopping }}
					<label for="{{hotelSearchForm.shopping.id_for_label}}">Shopping</label>
				</div>
				<div class="f-item">
					{{ hotelSearchForm.romance }}
					<label for="{{hotelSearchForm.romance.id_for_label}}">Romance</label>
				</div>
				<div class="f-item">
					{{ hotelSearchForm.nightlife }}
					<label for="{{hotelSearchForm.nightlife.id_for_label}}">Night Life</label>
				</div>
				<div class="f-item">
					{{ hotelSearchForm.casinos }}
					<label for="{{hotelSearchForm.casinos.id_for_label}}">Casinos</label>
				</div>
				<div class="f-item">
					{{ hotelSearchForm.adventure }}
					<label for="{{hotelSearchForm.adventure.id_for_label}}">Adventure</label>
				</div>
				<div class="f-item">
					{{ hotelSearchForm.beachAndSun }}
					<label for="{{hotelSearchForm.beachAndSun.id_for_label}}">Beach &amp; Sun</label>
				</div>
				<div class="f-item">
					{{ hotelSearchForm.family }}
					<label for="{{hotelSearchForm.family.id_for_label}}">Family</label>
				</div>
				<div class="f-item">
					{{ hotelSearchForm.skiing }}
					<label for="{{hotelSearchForm.skiing.id_for_label}}">Skiing</label>
				</div>
				<div class="f-item">
					{{ hotelSearchForm.historyAndCulture }}
					<label for="{{hotelSearchForm.historyAndCulture.id_for_label}}">History &amp; Culture</label>
				</div>	
				{% if interestsErrors %}
					<div class="alert alert-danger err">									
						<ul>
							{% for error in interestsErrors %}
								<li>{{ error }}</li>
							{% endfor %}
						</ul>
					</div>  
				{% endif %}					
			</div>
			<!--//column-->
			
			<div class="forms">
				<!--form hotel-->
				<div class="form" id="form1">
					<!--column-->
					<div class="column">
						<h4><span>02</span> Where?</h4>
						<div class="f-item">
							<label for="{{hotelSearchForm.destination.id_for_label}}">Your destination</label>
							<!-- <input type="text" placeholder="Continent, Country, or City" id="destination1" name="destination" /> -->
							{{ hotelSearchForm.destination }}
							{% if destErrors %}
								<div class="alert alert-danger err">									
									<ul>
										{% for error in destErrors %}
											<li>{{ error }}</li>
										{% endfor %}
									</ul>
								</div>  
							{% endif %}								
						</div>
						<div class="column radios">
							<div class="f-item">
								{{ hotelSearchForm.surpriseme }}
								<label for="{{hotelSearchForm.surpriseme.id_for_label}}">Surprise Me!!</label>
							</div>
						</div>
					</div>
					<!--//column-->
					
					<!--column-->
					<div class="column twins">
						<h4><span>03</span> When?</h4>
						{% if dateErrors %}
						<div class="alert alert-danger err">									
							<ul>
								{% for error in dateErrors %}
									<li>{{ error }}</li>
								{% endfor %}									
							</ul>
						</div>
						{% endif %}
						<div class="f-item datepicker">							
							<label for="datepicker1">Check-in date</label>	
							{% if hotelSearchForm.errors %}
							<div class="alert alert-danger err">									
								<ul>
									{% for error in hotelSearchForm.checkInDate.errors %}
										<li>{{ error }}</li>
									{% endfor %}									
								</ul>
							</div>  
							{% endif %}							
							<div class="datepicker-wrap">
								{{ hotelSearchForm.checkInDate }}
								<!-- <input type="text" placeholder="" id="datepicker1" name="datepicker1" /> -->
							</div> 
						</div>
						<div class="f-item datepicker">
							<label for="datepicker2">Check-out date</label>
							{% if hotelSearchForm.errors %}
							<div class="alert alert-danger err">									
								<ul>
									{% for error in hotelSearchForm.checkOutDate.errors %}
										<li>{{ error }}</li>
									{% endfor %}									
								</ul>
							</div>  
							{% endif %}
							<div class="datepicker-wrap">
								{{ hotelSearchForm.checkOutDate }}
								<!-- <input type="text" placeholder="" id="datepicker2" name="datepicker2" /> -->
							</div>
						</div>
					</div>
					<!--//column-->
				
					<!--column-->
					<div class="column triplets">
						<h4><span>04</span> Who?</h4>
						<div class="f-item spinner">
							<label for="spinner1">Rooms</label>
							{{ hotelSearchForm.rooms }}
							<!-- <input type="text" placeholder="" id="spinner1" name="spinner1" /> -->
						</div>
						<div class="f-item spinner">
							<label for="spinner2">Adults</label>
							{{ hotelSearchForm.adults }}
							<!-- <input type="text" placeholder="" id="spinner2" name="spinner1" /> -->
						</div>
						<div class="f-item spinner">
							<label for="spinner3">Children</label>
							{{ hotelSearchForm.children }}
							<!-- <input type="text" placeholder="" id="spinner3" name="spinner1" /> -->
						</div>
					</div>
					<!--//column-->
				</div>	
				<!--//form hotel-->
								
				
			</div>
			<input type="submit" value="Proceed to results" class="search-submit" id="search-submit" />
		</form>
	</div>
	<!--//search-->
	
	<!--main-->
	<div class="main" role="main">
		<div class="wrap clearfix">
			<!--latest offers-->
			<section class="offers clearfix full">
				<h1>Explore top locations for your interests</h1>
				
				{% for topInterest in topInterestsLocations %} 
					<!--column-->
					 {% if forloop.counter|divisibleby:"4" %}
					 <article class="one-fourth last">
					 {% else %}
					 <article class="one-fourth">
					 {% endif %}
					    {% if topInterest.img  %}
						<figure><a href="/hotels/search/{{topInterest.querystring}}&checkInDate={{checkInDate}}&checkOutDate={{checkOutDate}}" title=""><img src="{{MEDIA_URL}}{{topInterest.img}}" alt="{{STATIC_URL}}images/uploads/img.jpg" width="270" height="152" /></a></figure>
						{% else %}
						<figure><a href="/hotels/search/{{topInterest.querystring}}&checkInDate={{checkInDate}}&checkOutDate={{checkOutDate}}" title=""><img src="{{STATIC_URL}}images/uploads/img.jpg" alt="{{STATIC_URL}}images/uploads/img.jpg" width="270" height="152" /></a></figure>
						{% endif %}
						<div class="details">
							<h4>{{topInterest.short_desc}}</h4>
							<a href="/hotels/search/{{topInterest.querystring}}&checkInDate={{checkInDate}}&checkOutDate={{checkOutDate}}" title="Explore our deals" class="gradient-button">Check Top Hotels!</a>
						</div>
					 </article>
					 <!--//column-->
				{% endfor %}
			</section>
			<!--//latest offers-->						
						
			<!--info boxes-->
			<section class="boxes clearfix">
				<!--column-->
				<article class="one-fourth">
					<h2>Handpicked Hotels</h2>
					<p>All Book Your Travel Hotels fulfil strict selection criteria. Each hotel is chosen individually and inclusion cannot be bought. </p>
				</article>
				<!--//column-->
				
				<!--column-->
				<article class="one-fourth">
					<h2>Detailed Descriptions</h2>
					<p>To give you an accurate impression of the hotel, we endeavor to publish transparent, balanced and precise hotel descriptions. </p>
				</article>
				<!--//column-->
				
				<!--column-->
				<article class="one-fourth">
					<h2>Exclusive Knowledge</h2>
					<p>We’ve done our research. Our scouts are always busy finding out more about our hotels, the surroundings and activities on offer nearby.</p>
				</article>
				<!--//column-->
				
				<!--column-->
				<article class="one-fourth last">
					<h2>Passionate Service</h2>
					<p>Book Your Travels’s team will cater to your special requests. We offer expert and passionate advice for finding the right hotel. </p>
				</article>
				<!--//column-->
				
				<!--column-->
				<article class="one-fourth">
					<h2>Best Price Guarantee</h2>
					<p>We offer the best hotels at the best prices. If you find the same room category on the same dates cheaper elsewhere, we will refund the difference. Guaranteed, and quickly. </p>
				</article>
				<!--//column-->
				
				<!--column-->
				<article class="one-fourth">
					<h2>Secure Booking</h2>
					<p>Book Your Travel reservation system is secure and your credit card and personal information is encrypted.<br />We work to high standards and guarantee your privacy. </p>
				</article>
				<!--//column-->
				
				<!--column-->
				<article class="one-fourth">
					<h2>Benefits for Hoteliers</h2>
					<p>We provide a cost-effective model, a network of over 5000 partners and a personalised account management service to help you optimise your revenue.</p>
				</article>
				<!--//column-->
				
				<!--column-->
				<article class="one-fourth last">
					<h2>Any Questions?</h2>
					<p>Call us on <em>1-555-555-555</em> for individual, tailored advice for your perfect stay or <a href="contact.html" title="Contact">send us a message</a> with your hotel booking query.<br /><br /></p>
				</article>
				<!--//column-->
			</section>
			<!--//info boxes-->
		</div>
	</div>
	<!--//main-->
{% endblock %}

{% block tailscripts %}	
	<script type="text/javascript">	
		$(document).ready(function(){
			$(".form").hide();
			$(".form:first").show();
			$(".f-item:first").addClass("active");
			//$(".f-item:first span").addClass("checked");
		});
	</script>
	<script>selectnav('nav'); </script>
	<script type="text/javascript" src="{{STATIC_URL}}js/main.js"></script>	
{% endblock %}