<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
<title> Escanza - {{topInterestSel.short_desc}} </title>
{% endblock %}

{% block body %}	
	<!--main-->
	<div class="main blog" role="main">		
		<div class="wrap clearfix">
			<!--main content-->
			<div class="content clearfix">
				<!--breadcrumbs-->
				<nav role="navigation" class="breadcrumbs clearfix">
					<!--crumbs-->
					<ul class="crumbs">
						<li><a href="/" title="Home">Home</a></li> 
						<li><a href="/topinterests" title="TopInterests">Top Interest Destinations</a></li> 
						<li>{{topInterestSel.short_desc}} </li>                                       
					</ul>
					<!--//crumbs-->
				</nav>
				<!--//breadcrumbs-->
				
				<!--three-fourth content-->
					<section class="three-fourth">
						<!--post-->
						<article class="static-content post">
							<header class="entry-header">
								<h1>{{topInterestSel.short_desc}}</h1>
							</header>
							{% if topInterestSel.img %}
							<div class="entry-featured"><figure><img src="{{MEDIA_URL}}{{topInterestSel.img}}" alt="{{STATIC_URL}}images/slider/img.jpg" /><a href="{{MEDIA_URL}}{{topInterestSel.img}}" class="image-overlay" rel="prettyPhoto[gallery1]"></a></figure></div>
							{% endif %}
							<div class="entry-content">
								{{topInterestSel.topinterests_body | safe}}
							</div>
						</article>
						<!--//post-->					
												
						<!--bottom navigation-->
						<div class="bottom-nav">
							<!--back up button-->
							<a href="#" class="scroll-to-top" title="Back up">Back up</a> 
							<!--//back up button-->
						</div>
						<!--//bottom navigation-->
					</section>
				<!--//three-fourth content-->
				
				<!--sidebar-->
				<aside class="right-sidebar">

					<!--Need Help Booking?-->
					<!-- <article class="default clearfix">
						<h2>Need Help Booking?</h2>
						<p>Call our customer services team on the number below to speak to one of our advisors who will help you with all of your holiday needs.</p>
						<p class="number">1- 555 - 555 - 555</p>
					</article> -->
					<!--//Need Help Booking?-->

					<!--Booking.com Banner-->
					<article class="default clearfix">
					<ins class="bookingaff" data-aid="918432" data-height="200" data-width="200" data-prod="banner" data-target_aid="912463" data-banner_id="35398">
					    <!-- Anything inside will go away once widget is loaded. -->
					    <a href="//www.booking.com?aid=912463">Booking.com</a>
					</ins>
					<script type="text/javascript">
					    (function(d, sc, u) {
					      var s = d.createElement(sc), p = d.getElementsByTagName(sc)[0];
					      s.type = 'text/javascript';
					      s.async = true;
					      s.src = u + '?v=' + (+new Date());
					      p.parentNode.insertBefore(s,p);
					      })(document, 'script', '//aff.bstatic.com/static/affiliate_base/js/flexiproduct.js');
					</script>
					</article>
					<!--//Booking.com Banner-->
					
					<!--Why Book with us?-->
					<article class="default clearfix">
						<h2>Why Book with us?</h2>
						<h3>Low rates from <a target="_blank" href="http://www.booking.com?aid=912463">Booking.com</a></h3>
						<p>Get the best rates from our partner <a target="_blank" href="http://www.booking.com?aid=912463">Booking.com</a></p>
						<h3>One of the Largest Selection</h3>
						<p>750,000+ hotels worldwide</p>
						<h3>Best Interest-based Search Engine</h3>
						<p>Find hotels and properties accommodating your travel interests.</p>
					</article>
					<!--//Why Book with us?-->
					
					<!--Blog search-->
					<!-- <article class="default clearfix">
						<h2>Search</h2>
						<p>Lorem ipsum dolor sit amet</p>
						<div class="f-item">
							<input type="search" id="blogsearch" name="blogsearch" placeholder="Search the blog" />
						</div>
						<div class="f-item">
							<input type="submit" id="blogsearchsubmit" name="blogsearchsubmit" value="Search" class="gradient-button" />
						</div>
					</article> -->
					<!--//Blog search-->
					
					<!--Blog archives-->
					<!-- <article class="default clearfix">
						<h2>Archive</h2>
						<ul>
							<li><a href="#">December 2013</a></li>
							<li><a href="#">November 2013</a></li>
							<li><a href="#">October 2013</a></li>
							<li><a href="#">September 2013</a></li>
							<li><a href="#">August 2013</a></li>
						</ul>
					</article> -->
					<!--//Blog archives-->
					
					<!--Deal of the day-->
					<article class="default clearfix">
						<h2>Deal of the month</h2>
						<div class="deal-of-the-day">
							<a target="_blank" href="http://www.booking.com/searchresults.html?city=900000001&aid=912463">
								<figure><img src="{{MEDIA_URL}}topinterests/images/whistler-canada.jpg" alt="Whistler-Canada" width="230" height="130" /></figure>
								<h3>
									Fall &amp; Explore Outdoor Activities in Whistler, Canada									
								</h3>								
							</a>
						</div>
					</article>
					<!--//Deal of the day-->
				</aside>
				<!--//sidebar-->
			</div>
			<!--//main content-->
		</div>
	</div>
	<!--//main-->	
{% endblock %}
	
{% block tailscripts %} 	
	<script>selectnav('nav'); </script>
{% endblock %}